html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    include ../style.pug
  body
    p このたびはHAIRLIEをご利用いただきまして、誠にありがとうございます。
    br
    p 決済エラーが発生しました。
    p クレジットカードエラーの場合は、登録カードを変更し再度決済を行ってください。
    a(href=shortBookingLink) #{shortBookingLink}
    br
    p ▼予約内容▼
    p ■予約ID
    p #{booking.id}
    p ■来店日時
    p #{serviceDateTime}
    p ■サロン名 
    p #{salon.get('salonName')}
    p ■地図
      p
        a(href=mapURL) #{address}
    p ■メニュー
    p #{menusName}
    p ■施術時間(目安)
    p #{booking.get('totalDuration')}分
    p ■スタイリスト
    p #{booking.get('stylist').get('nickName')}
    p ■クーポン利用
      if (couponCode)
        p  #{couponName}(#{couponCode})
      else
        p  なし
    p ■クーポン値引金額
      if (couponAmount)
        p  ￥-#{couponAmount}
      else
        p  なし
    p ■お支払い予定金額
    p ￥#{totalPrice}(税込)
    p ■キャンセル料
    p お支払い予定金額の100%のキャンセル料が発生します。
    p ￥#{canceledFee} (税込)
    include ../footer.pug
