html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    include ../style.pug
  body
    p このたびはHAIRLIEをご利用いただきまして、誠にありがとうございます。
    br
    p 予約リクエストを送信しました。
    p ※ご予約をまだ確定していません。サロンまたはスタイリストが予約リクエストを承認した後に確定します。
    br
    p ＊通常は2営業日以内にご返信させていただいておりますが、ご返事にお時間をいただく場合もございます。
    p ＊また1か月以上先の予約は2営業日以内のご返信が難しくなっております。予めご了承ください。
    br
    p 下記予約リクエスト内容をご確認ください。
    br
    p ▼予約リクエスト内容▼
    p ■予約ID
    p #{booking.id}
    p ■来店日時
    p #{serviceDateTime}
    p ■サロン名
    p #{salon.get('salonName')}
    p ■地図
      p
        a(href=mapURL) #{address}
    p ■メニュー
    p #{menusName}
    p ■施術時間(目安)
    p #{booking.get('totalDuration')}分
    p ■スタイリスト
    p #{booking.get('stylist').get('nickName')}
    p ■クーポン利用
      if (couponCode)
        p  #{couponName}(#{couponCode})
      else
        p  なし
    p ■クーポン値引金額
      if (couponAmount)
        p  ￥-#{couponAmount}
      else
        p  なし
    p ■お支払い予定金額
    p ￥#{totalPrice}(税込)
    include ../footer.pug
