html
  head
    title Hairlie | Reset Password
    meta(name="robots" content="noindex")
    meta(name="googlebot" content="noindex")
    style(type="text/css").
      body {
        background: #d2d6de;
      }

      .input-text {
        padding: 6px 12px;
        width: 100%;
        border: 1px solid #ccc;
      }

      .change-pass-box {
        width: 650px;
        margin: 5% auto;
        padding: 0;
        text-align: center;
      }

      .error-message {
        color: #f00;
      }

      .change-pass-box-body {
        background: #fff;
        padding: 20px;
        border-top: 0;
        color: #666;
      }

      .logo {
        margin-bottom: 20px;
      }

      h1 {
        font-size: 1.6em;
        margin: 5px 0;
      }

      button {
        padding: 6px 12px;
        width: 100%;
        cursor: pointer;
        color: #fff;
        background-color: #333;
        border: 1px solid #333;
      }

      button:hover {
        background-color: #666;
      }
    script(type="text/javascript").
      function checkSubmit() {
        const new_password = document.getElementById('new_password');
        const confirm_password = document.getElementById('confirm_password');
        if (new_password.value.length >= 8) {
          if (new_password.value !== confirm_password.value) {
            confirm_password.style.border = '1px solid #f00';
            new_password.style.border = '';
          } else {
            confirm_password.style.border = '';
            document.getElementById('form-reset-password').submit();
          }
        } else {
          const inputs = document.getElementsByTagName('input');
          for (let i = 0; i < inputs.length; i++) {
            inputs[i].style.border = '1px solid #f00';
          }
        }
      }
  body
    .change-pass-box
      .logo
        img(src="/public/img/logo.png" alt="Hairlie Logo")
      .change-pass-box-body
        h1 パスワードを再設定する
        form#form-reset-password(action=requestURL method="POST")
          p(style="background-color: #eee; padding: 10px;")=message
          p
            | ログインID 「
            b=username
            | 」
          .error-message
            p=error
          p
            input#new_password.input-text(name="new_password" type="password" autocomplete="off" placeholder="新しいパスワード")
            input#username(name="username" type="hidden" value=username)
            input#token(name="token" type="hidden" value=token)
          p
            input#confirm_password.input-text(name="confirm_password" type="password" autocomplete="off" placeholder="新しいパスワード(確認用)")
          button(type="button" onclick="checkSubmit()") 保存する
