html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    include ../style.pug
  body
    p このたびはHAIRLIEをご利用いただきまして、誠にありがとうございます。
    br
    p ご予約が確定しました。
    br
    p 下記予約内容をご確認いただき、ご予約の日時にご来店ください。
    br
    p ▼予約内容▼
    p ■予約ID
    p #{booking.id}
    p ■来店日時
    p #{serviceDateTime}
    p ■サロン名
    p #{salon.get('salonName')}
    p ■地図
    p
      a(href=mapURL) #{address}
    p ■メニュー
    p #{menusName}
    p ■施術時間(目安)
    p #{booking.get('totalDuration')}分
    p ■スタイリスト
    p #{booking.get('stylist').get('nickName')}
    p ■クーポン利用
      if (couponCode)
        p  #{couponName}(#{couponCode})
      else
        p  なし
    p ■クーポン値引金額
      if (couponAmount)
        p  ￥-#{couponAmount}
      else
        p  なし
    p ■お支払い予定金額
    p ￥#{totalPrice}(税込)
    include ../footer.pug
